
.vs/FoolOpenGl/v15/.suo
.vs/FoolOpenGl/v15/Browse.VC.db
.vs/FoolOpenGl/v15/Browse.VC.opendb
.vs/FoolOpenGl/v15/ipch/AutoPCH/a099467077b6e620/TRIANGLE02.ipch
Debug/SkyBox.exe
Debug/SkyBox.ilk
Debug/SkyBox.pdb
libraries/glad.zip
SkyBox/SkyBox.vcxproj.filters
SkyBox/Debug/vc141.pdb
SkyBox/Debug/vc141.idb
SkyBox/Debug/triangle02.obj
SkyBox/Debug/SkyBox.tlog/SkyBox.lastbuildstate
SkyBox/Debug/SkyBox.tlog/link.write.1.tlog
SkyBox/Debug/SkyBox.tlog/link.read.1.tlog
SkyBox/Debug/SkyBox.tlog/link.command.1.tlog
SkyBox/Debug/SkyBox.tlog/CL.write.1.tlog
SkyBox/Debug/SkyBox.tlog/CL.read.1.tlog
SkyBox/Debug/SkyBox.tlog/CL.command.1.tlog
SkyBox/Debug/SkyBox.log
SkyBox/SkyBox.vcxproj.user
.vs/FoolOpenGl/v15/ipch/AutoPCH/383c3bd55040ba18/SKYBOX.ipch
.vs/FoolOpenGl/v15/ipch/AutoPCH/b8bb41ff319ce738/SKYBOX1.ipch
